.lista_produtos {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.header {
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
}

.coluna_produto {
    width: 100%;
}

.coluna_quatidade {
    min-width: 100px;
    text-align: center;
}

.coluna_num_clientes {
    min-width: 80px;
    text-align: center;
}

.linha_produto:nth-child(odd) {
    background-color: lightgray;
}

.dados_produto {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    height: auto;
    padding: 5px;
    /* border: 1px solid red; */
}

.lista_clientes {
    /* border: 2px solid purple; */
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}