.page_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: .7rem;
    overflow-y: hidden;
    padding: 10px;
}

.loading_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.conteiner_relatorio {
    height: 100%;
    border: 1px solid silver;
    border-radius: 6px;
    padding: 10px;
    background-color: white;
    overflow: auto;

    display: flex;
    flex-direction: column;
}

.conteiner_relatorio h1 {
    text-align: center;
    padding-bottom: 10px;
}

.container_radio_tipo_rel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

    position: sticky;
    top: -10px;
    z-index: 10;
    background-color: #ffffff;

    border-bottom: 1px solid lightgray;
}

.container_filtros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 10px;
    padding: 8px;
}

.filtro_status_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.radio_button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header_por_venda {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 30px;
    filter: brightness(.9);
    font-weight: bold;
}

.header_por_venda .col_venda,
.linha_por_venda .col_venda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.header_por_venda .col_data,
.linha_por_venda .col_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.header_por_venda .col_cliente,
.linha_por_venda .col_cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.header_por_venda .col_status,
.linha_por_venda .col_status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.conteudo_por_venda {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
}

.linha_por_venda {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: relative;
    transition: all .15s;
}

.linha_por_venda[entrega-finalizada="true"] {
    opacity: .30;
}

.conteiner_tabela {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    /* align-items: center; */
}

.conteiner_tabela .detalhes_entrega {
    padding: 10px;
}

.conteiner_tabela .detalhes_entrega p {
    display: flex;
}

.conteiner_tabela .detalhes_entrega span {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    width: 180px;
}

.conteiner_tabela .detalhes_entrega input {
    width: 100%;
    padding: 3px;
    font: inherit;
}

.conteiner_tabela .detalhes_entrega button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 8px;
    border-width: 1px;
    cursor: pointer;
}

.tabela_produtos_pendentes {
    border-collapse: collapse;
}

.tabela_produtos_pendentes th {
    padding: 10px;
}
.tabela_produtos_pendentes td {
    padding: 10px;
    border: 1px solid lightgray;
}

.linha_por_venda .container_nomes_colunas {
    display: flex;
    flex-direction: row;
    min-height: 30px;
    max-height: 30px;

    background-color: #e0e0e0;
    transition: all .15s;

    cursor: pointer;
}
.container_nomes_colunas:hover {
    background-color: #c0c0c0;
    font-weight: bold;
    transition: all .15s;
}

.container_abas_entrega_futura {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.container_abas_entrega_futura span {
    padding: 10px;
    border: silver 1px solid;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.container_abas_entrega_futura span:hover {
    cursor: pointer;
    font-weight: bold;
}

.corpo_aba_romaneios {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.romaneio_container {
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.romaneio_container table {
    border-collapse: collapse;
}

.romaneio_header {
    padding: 5px;
    background-color: #e0e0e0;
}

.itens_romaneio_nomes_colunas th {
    padding: 5px;
}

.itens_romaneio_dados td {
    /* padding: 2px; */
    padding: 3px 5px;
    border: 1px solid #c0c0c0;
}

.coluna_qtde,
.coluna_obs {
    text-align: center;
}

.conteiner_dropdown {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    /* display: inline-block; */
}

.botao_dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
}

.botao_dropdown img {
    width: 16px;
    height: 16px;
}

.conteudo_dropdown {
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    width: max-content;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.conteudo_dropdown p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: background-color .15s;
  }

.conteudo_dropdown p:hover {
    transition: background-color .15s;
    background-color: #ddd;
    /* font-weight: bold; */
}

.linha_por_venda .detalhes_linha_por_venda {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: auto;
}

.linha_produto_pendente[entregue-total="true"] {
    /* opacity: .5; */
    text-decoration: line-through;
}

.col_button_container {
    text-align: center;
}

.button_adicionar_entrega {
    padding: 10px;
    background-color: #3483FA;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font: inherit;
    /* font-weight: bold; */
    cursor: pointer;
    transition: background-color .3s;
}

.button_adicionar_entrega:disabled {
    background-color: rgb(207, 122, 122);
    cursor: not-allowed;
}
.button_adicionar_entrega:disabled:hover {
    background-color: rgb(187, 92, 92);
}

.button_adicionar_entrega:hover {
    transition: background-color .3s;
    background-color: #2359aa;
}

@media (max-width: 620px) {
    .botao_dropdown p {
        display: none;
    }
}

@media (max-width: 480px) {
    .page_container {
        padding: 4px
    }

    .col_venda {
        display: none !important;
    }

    .col_id_produto {
        display: none !important;
    }

    .container_radio_tipo_rel {
        flex-direction: column;
    }
}