.container {
  font-family: Arial, sans-serif;
  margin: 5px;
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ccc; */
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs {
  display: flex;
  margin-bottom: 15px;
}

.tab {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-bottom: none;
  background: #f4f4f4;
  cursor: pointer;
}

.active {
  background: #fff;
  font-weight: bold;
}

.table_endereco {
  border-collapse: collapse;
  width: 100%;
}

.table_endereco th {
  background-color: #eee;
}

.table_endereco th,
.table_endereco td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 4px;
}

.formGroup {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.formGroup label {
  flex: 0 0 100px;
  font-weight: bold;
}

.inputStyle,
.formGroup input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font: inherit;
  background-color: #fff;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.table,
.table th,
.table td {
  border: 1px solid #ccc;
}

.table th {
  background-color: #eee;
}

.table th,
.table td {
  text-align: center;
  padding: 4px;
  /* background: #f9f9f9; */
}

.coluna_margem {
  background-color: rgb(107, 255, 107) !important;
  text-align: center;
}