.tabela_produtos {
    border: 1px solid silver;
    border-radius: 5px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    border-spacing: 0;
}

.tabela_produtos thead th {
    padding: 10px;
}

.tabela_produtos tbody .coluna_dados_produto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tabela_produtos tbody .coluna_dados_produto .container_nome_produto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tabela_produtos tbody .coluna_dados_produto .container_nome_produto b {
    cursor: pointer;
}

.tabela_produtos tbody .coluna_dados_produto .container_nome_produto .botao_copiar_dados_etiqueta {
    margin: 0;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 15px;
}

.tabela_produtos tbody .coluna_dados_produto .container_nome_produto .botao_copiar_dados_etiqueta:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
}

.tabela_produtos tbody .container_dados_produto_mobile {
    display: none;
}

.tabela_produtos tbody td {
    border-top: 1px solid silver;
    padding: 10px;
}

.tabela_produtos tbody tr:last-child td {
    border-bottom: 1px solid silver;
}

.tabela_produtos tfoot td {
    padding: 10px;
}

.linha_produto:hover {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

.linha_produto[possui-venda="true"] {
    background-color: yellow;
}
.linha_produto[possui-venda="true"]:hover {
    color: black;
    filter: brightness(.85);
}

.coluna_estoque_disponivel {
    font-weight: bold;
    font-size: 11px;
    background-color: rgb(240, 119, 119);
    /* color: white; */
}

.coluna_estoque_disponivel,
.coluna_vista,
.coluna_prazo,
.coluna_estoque,
.coluna_status {
    text-align: center;
}

@media (max-width: 700px) {
    .coluna_vista,
    .coluna_prazo,
    .coluna_estoque,
    .coluna_status,
    .coluna_estoque_vendido,
    .coluna_estoque_disponivel {
        display: none;
    }

    .container_dados_produto_mobile {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }
}