.page_container {
    /* border: 3px green solid; */
    font-size: .7rem;
    overflow-y: auto;
    height: 100%;
}

.romaneios_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* border: 3px solid red; */
}

.button_salvar_entrega {
    padding: 10px;
    background-color: #3483FA;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font: inherit;
    /* font-weight: bold; */
    cursor: pointer;
    transition: background-color .3s;
}

.button_salvar_entrega:hover {
    transition: background-color .3s;
    background-color: #2359aa;
}

.romaneio {
    border: 1px solid silver;
    border-radius: 6px;
    /* padding: 10px; */
    background-color: white;
}

.romaneio_header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}

.texto_nome_cliente,
.texto_data_entrega {
    font-weight: bold;
    font-size: 1.2em;
}

.romaneio_footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid silver;
}

@media screen and (max-width: 500px) {
    .romaneios_container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .romaneio {
        border-radius: 0px;
    }
}